:root {
    --preview_cell_width: 60px;
    --cell_overlap: 12px;
    --row_overlap: 15px;
}

#pattern_preview {
    width: fit-content;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
}

.preview_row {
    position: relative;
    width: fit-content;
}

.preview_row:nth-child(odd) {
    left: calc(var(--preview_cell_width)/2 - var(--cell_overlap)/2);
}

.preview_cell {
    position: relative;
    width: var(--preview_cell_width);
    aspect-ratio: 1/1;
    background-color: rgb(18, 179, 168);
    border: 2px solid rgb(49, 49, 49);
    float: left;
    border-radius: 50%;
    text-align: center;
}