:root {
    --preview_cell_width: 50px;
    --cell_overlap: 12px;
}

#pattern_preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.preview_row {
    position: relative;
    width: 100%;
    /* background-color: rgba(173, 216, 230, 0.439); */
}

.preview_row:nth-child(odd) {
    left: calc(var(--preview_cell_width)/2 - var(--cell_overlap)/2);
}

.preview_cell {
    position: relative;
    width: var(--preview_cell_width);
    aspect-ratio: 1/1;
    /* background-color: rgba(216, 112, 147, 0.321); */
    background-color: cadetblue;
    border: 2px solid black;
    float: left;
    border-radius: 50%;
}