:root {
    /* --preview_cell_width: 60px; */
    --preview_cell_width: 52px;
    --cell_overlap: 12px;
    --row_overlap: 15px;
}

.is_previewed {
    display: flex !important;
}

/* Spiral Braid */
#spiral_preview {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    left: calc(var(--cell_overlap)/-2);
    display: none;
}

/* Hollow Braid */
#hollow_preview {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}

#hollow_preview_X_by_X {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: rotate(45deg);
    position: absolute;
    margin: 0px auto;
}
.hollow_preview_row {
    display: flex;
    flex-direction: row;
}

#hollow_flex {
    display: flex;
    flex-direction: column;
}

.hollow_row {
    display: flex;
}
.hollow_cell {
    width: 40px;
    aspect-ratio: 1/1;
    background-color: white; 
    border: 1px solid black; 
    text-align: center;
    line-height: 50px; 
}

.preview_row {
    position: absolute;
    height: var(--preview_cell_width);
}

.preview_row:nth-child(odd) {
    left: calc(var(--preview_cell_width)/2 - var(--row_overlap)/2);
}

.preview_cell {
    box-sizing: border-box;
    position: absolute;
    width: var(--preview_cell_width);
    aspect-ratio: 1/1;
    background-color: rgb(153, 204, 255);
    border: 2px solid rgb(49, 49, 49);
    float: left;
    border-radius: 50%;
    text-align: center;
}