* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(235, 173, 85);
    display: flex;
    justify-content: center;
}

body {
    width: 100vw;
    max-width: 800px;
    /* padding: 0px 15px; */
    font-family: sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 2px 12px 0px black;
}

#page_title {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 30pt;
    color: white;
    border-bottom: 1px solid rgb(153, 153, 153);
}

#page_title, #btn_container {
    background-color: rgb(125, 0, 77);
}

#pattern_container {
    width: 100%;
    /* height: fit-content; */
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#btn_container {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 5px;
}

#string_btns, #color_btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#string_btns {
    margin-bottom: 10px;
}
#string_btns > button {
    width: 40%;
}

#color_btns > button {
    width: 50%;
}

#string_count_container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#string_count {
    font-size: 20pt;
    color: white;
    font-weight: bold;
}

.flex_btn {
    flex-grow: 1;
    font-size: 20pt;
    color: black;
    /* height: 75px; */
    padding: 5px 0px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

#structure_button_box {
    position: relative;
}
#structure_button {
    width: fit-content;
    padding: 5px 20px;
    position: relative;
    z-index: 2;
}
.hide {
    display: none !important;
}
#structure_list {
    width: 100%;
    height: fit-content;
    background-color: white;
    position: absolute;
    bottom: 50%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 25%;
    z-index: 1;
    border: 2px solid black;
}
.structure_radio_option {
    font-size: 18pt;
}

@media only screen and (max-width: 485px) {
    body {
        padding: 0px;
    }

    #page_title {
        font-size: 22pt;
    }

    .flex_btn {
        font-size: 15pt;
        border-radius: 10px;
        padding: 8px 2px;
    }
    .structure_radio_option {
        font-size: 15pt;
    }
}