:root {
    --color_cell_size: 75px;
    --color_cell_border: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px 15px;
    font-family: sans-serif;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
}

#page_title {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 30pt;
    border-bottom: 1px solid rgb(153, 153, 153);
}

#pattern_container {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* gap: 50px; */
}

#btn_container {
    width: 100%;
    height: fit-content;
    padding: 10px;
    /* background-color: rgb(135, 0, 0); */
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 5px;
}

#string_btns, #color_btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#string_btns {
    margin-bottom: 10px;
}
#string_btns > button {
    width: 40%;
}

#string_count_container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#string_count {
    font-size: 20pt;
    color: black;
    font-weight: bold;
}

.flex_btn {
    flex-grow: 1;
    font-size: 20pt;
    height: 75px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

@media only screen and (max-width: 375px) {

}